html {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.d-none {
	display: none;
}

body {
	background-color: #f9f9f9;
	font-family: "Comfortaa";
	font-weight: 400;
	color: #151515;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
}

.logo {
	margin-right: auto;
}

.header__container{
	display: flex;
	padding-top: 34px;
	align-items: center;

	margin-bottom: 61px;
}

.Queez {
	font-weight: bold;
	font-size: 60px;
	margin: 0;
}

.site-nav {
	align-items: center;
	padding: 0;
	width: 683px;
	height: 53px;
	border: 2px solid #151515;
	border-radius: 15px;

	box-sizing: border-box;
	padding: 17px 25px;

	margin-right: 52px;
}


.nav-list {
	/* display: inline-flex; */
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}




.nav-list-item {
	color: #151515;
	text-align: center;
	
	font-family: Comfortaa;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
}

.active-page {
	color: #6AB1FB;
	text-align: center;
	font-family: Comfortaa;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;	
}

.login__btn {
	border: 2px solid #151515;
	border-radius: 15px;
	background-color: transparent;
	width: 177px;
	height: 53px;

	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 17px;

	/* background-image: url('../img/icon.svg');
	background-repeat: no-repeat;
	background-position: right center; */
}

.login__text {
	color: #151515;
	text-align: center;
	font-family: Comfortaa;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	margin-right: auto;
}

.login__btn:hover {
	background-color: #151515;
}

.hero__container {
	display: flex;
	/* background-image: url('../img/back.svg'); */
	min-height: 390px;
	align-items: center;
	margin-bottom: 79px;
}

.hero__back {
	position:absolute;
	left:60%;
}

.hero_content {
	display: flex;
	background-color: #A5C8EC;
	border-radius: 15px;
	padding-left: 25px;
	min-height: 390px;
	width: 100%;
	align-items: center;
}


.h1-title {
	margin: 0;
	font-weight: bold;
	font-size: 60px;
	color: #f9f9f9;
	z-index: 1;
	max-width: 790px;
}

/* .question {
	font-weight: bold;
	font-size: 550px;
	color: #f9dc85;
	z-index: 100;
	-moz-transform: rotate(19.56deg);
	-webkit-transform: rotate(19.56deg);
	-o-transform: rotate(19.56deg);
	-ms-transform: rotate(19.56deg);
	transform: rotate(19.56deg);
	margin-left: 1042px;
	margin-top: 52px;
	width: 301px;
	height: 613px;
} */

.how__container {
	margin-bottom: 52px;
}

.how__title {
	margin: 0;
	font-weight: bold;
	font-size: 45px;
	margin-bottom: 12px;
}

.how__list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.how__item {
	width: 582px;
	height: 280px;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 19px 25px;

}

.how__item:not(:nth-child(2n)) {
	margin-right: auto;
}

.how__item:nth-child(-n+2) {
	margin-bottom: 20px;
}

.step-one {
	background-color: #9FDBC9;
}

.step-two {
	background-color: #F7DA84;
}

.step-three {
	background-color: #A5C8EC;
}

.step-four {
	background-color: #E29BB6;
}

.how__item-title {
	margin: 0;
	color: #F9F9F9;
	font-family: Comfortaa;
	font-size: 45px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.main-section {
	display: inline-block;
	background-color: #A5C8EC;
	border-radius: 15px;
	width: 1200px;
	height: 390px;
	margin-top: 61px;
}

.footer {
	background-color: #41557D;
}

.footer__container {
	display: flex;
	align-items: center;
	padding: 42px 0px 50px 0px;
}

.footer-logo {
	color: #F9F9F9;
	margin-right: 14px;
}

.footer-nav {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	margin-right: auto;
}

.footer-nav-item {
	color: #CACACA;

	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 200%;
	display: flex;
}

.footer-nav-item:not(:last-child){
	margin-right: 20px;
}

.footer__contact:not(:last-child){
	margin-right: 37px;
}


.contact-title {
	margin: 0;
	padding: 0;
	margin-bottom: 7px;

	color: #F9F9F9;
	font-family: Comfortaa;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.source {
	margin: 0;
	padding: 0;

	color: #A5C8EC;
	text-align: center;
	font-family: Comfortaa;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;	
}


/* VICT.HTML *//* VICT.HTML *//* VICT.HTML *//* VICT.HTML *//* VICT.HTML *//* VICT.HTML */

.create__container {
	margin-bottom: 50px;
}

.create__content {
	border: none;
	display: flex;
	width: 100%;
	background-color: #A5C8EC;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 20px;
	align-items: center;
	justify-content: center;

	color: #F9F9F9;
	font-size: 25px;
}
.create__content:hover {
	outline: 3px solid #E29BB6;
}


.my__container {
	margin-bottom: 50px;
}

.my__title {
	margin: 0;
	padding: 0;
	color: #000;
	text-align: center;
	font-family: Comfortaa;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;	
}


.my_victs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.vict {
	width: 249px;
	height: 332px;
	background: linear-gradient(180deg, #7083A9 0%, #ABC8E6 74.48%);
	border-radius: 15px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 58px 15px 15px 15px;
}

.vict-title {
	margin: 0;

	color: #F9F9F9;
	text-align: center;
	font-family: Comfortaa;
	font-size: 37px;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
}

.vict-start-btn {
	border-radius: 10px;
	background: #F9F9F9;

	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	border: 0;
	color: #000;

	text-align: center;
	font-family: Comfortaa;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;	

	margin-bottom: 10px;
}

.vict-edit-btn {
	background: transparent;
	border: 0;
	padding: 0;

	width: 100%;
	color: #000;
	text-align: center;
	font-family: Comfortaa;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

/* CREATE.HTML *//* CREATE.HTML *//* CREATE.HTML *//* CREATE.HTML *//* CREATE.HTML *//* CREATE.HTML */

.creation__container {
	/* border: 3px solid #E29BB6; */
	display: flex;
	/* background-color: #000; */
	/* height: fit-content; */
	height: 1500px;
}

.creation__slides {
	width: 330px;
	height: 100%;
	background-color: #9FDBC9;
	box-sizing:border-box;
	/* padding: 0 10px; */
}

.creation_form {
	padding: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	text-align:center;
	flex-direction: column;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
input::-webkit-input-placeholder {
	color: white;
	}
	
	input:-moz-placeholder { /* Firefox 18- */
		color: whitesmoke;
	}
	
	input::-moz-placeholder { /* Firefox 19+ */
		color: whitesmoke;
	}
	
	input:-ms-input-placeholder {
		color: whitesmoke;
	}
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */


.form__question {
	border: none;
	background-color: #9FDBC9;
	color: #f9f9f9;
	width: 80%;
	height: 100px;

	box-sizing: border-box;

	font-family: Comfortaa;
	font-size: 50px;
	border-radius: 20px;
	text-align: center; 
	font-weight:800;

	margin-bottom: 60px;
}

.form__question:hover {

}

.form__question:focus {
	outline: none;
}

.form__question:active {
	outline: none;
}

.preview {
	width: 55%;
	height: 300px;
	background-color: #9FDBC9;
	border-radius: 20px;

	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;

	margin-bottom: 20px;
}

.preview__text {
	font-size: 30px;
	color: #f9f9f9;
}

.preview__image {
	height: 100%;
}

.form__image {
	margin-bottom: 55px;
}

.options {
	width: 80%;
	height: fit-content;
	display: flex;
	/* flex-wrap: wrap; */
}

.option {
	width: 80%;
	height: 100px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	/* justify-content: center; */

	box-sizing: border-box;
	padding: 30px;
}
.option:not(:last-child) {
	margin-bottom: 20px;
}

.option-one {
	background-color: #9FDBC9;
}
.option-three {
	background-color: #F7DA84;
}
.option-four {
	background-color: #A5C8EC;
}
.option-two {
	background-color: #E29BB6;
}

.options-item {
	border: none;
	width: 100%;
	min-height: 100px;
	background-color: transparent;

	color:#F9F9F9;
	font-size: 50px;

	text-align: center;

}

.options-item:focus {
	outline: none;
}

/* .options-item:nth-child(2n+1){
	margin-right: 20px;
} */

.options-item:not(:last-child){
	margin-bottom: 20px;
}

.option-cb {
	margin: 0;
	padding: 0;
	min-width: 50px;
	height: 50px;

	background-color: #F9F9F9;
	border: none;
	border-radius: 10px;
	margin-right: 40px;
}

.option-selected {
	background-image: url('../img/cross.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}